body {

	/*text-align: center;*/
	background-color: #fafafa;
	/*background-image: url("../images/classroom-background.png");
	background-repeat: no-repeat;*/
	line-height: 1.5;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	/*if a font has spaces; use quotation marks. Eg "Times New Roman"
	/*a number multiplier*/

}

header {
	background-image: url(../images/small-banner.png);
	height: 267px;
	/*margin: auto;*/
	/*width: 100%;*/
	background-repeat: no-repeat;
}

.display-2 {

	text-align: center;
}