body {

	/*text-align: center;*/
	background-color: #fafafa;
	background-image: url("../images/heart-pattern-1.png");
	background-repeat: repeat;
	line-height: 1.5;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	/*if a font has spaces; use quotation marks. Eg "Times New Roman"
	/*a number multiplier*/

}